<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>大学生二手交易</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/index/css/MainPage.css" />
    <link rel="icon" href="__STATIC__/index/index/pic/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="__STATIC__/index/index/pic/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="__STATIC__/index/index/pic/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="__STATIC__/index/index/pic/favicon.ico" type="image/x-icon"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script>var logout_url = "{:url('index/index/logout')}";</script>
    <script type="text/javascript" src="__STATIC__/index/index/js/MainPage.js"></script>
</head>
<body>
    <script>
        
        var isAll = false;//is all good loaded?
        var search_tag;//搜索内容记录
        var _lastOp=0;//根据上一个操作，判断是否需要将isAll置零，0登录加载，1搜索加载，2排序价格升序加载，3排序价格降序加载，4排序收藏升序加载，5排序收藏降序加载
        $(document).ready(
            function () {
                $.ajax(
                {
                    url: "{:url('index/index/getsession')}",

                    success: function (data) {
                        if ('fail' == data.status) {
                            return;
                        }
                        else {
                            var username = data.username;
                            var id = data.id;
                            $("div.top-bar input , div.top-bar a").remove();
                            var src = data.src;
                            //var src = "__STATIC__/index/index/pic/1.jpg";
                            $("<img class='headshot' src='" + src + "'/>").appendTo("div.top-bar");
                            $("<div class='info-block'><p class='name'>" + username + "</p><p class='ID'>" + id + "</p>" + "<a href='javascript::void(0)' class='logout'>登出</a>" + "</div>").appendTo("div.top-bar");
                            $(".nav-ul li a span.person-info").text("个人主页");
                            $(".nav-ul li a .headshot img").attr("src", src);
                        }
                    }
                   ,
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(XMLHttpRequest.status);
                        alert(XMLHttpRequest.readyState);
                        alert(textStatus);
                    },
                });
            });
                //处理函数，去除登录注册，换为头像与用户名
               
    </script>
    <div class="top-bar">
        <input class="login" type="button" value="登录(Log)" onclick="UserLog()" />
        <a href="{:url('index/register/index')}"><input class="Reg" type="button" value="注册(Reg)" onclick="" /></a>
    </div>
    <iframe class="login" id="iframe_log" src="{:url('index/index/login')}">

    </iframe>
    <script type="text/javascript">
        $("div.top-bar input.login").click(function () {
            $('iframe.login').show();
        });
    </script>
    {include file="common/slide" /}
    
    <div class="slogan"><img src="__STATIC__/index/index/pic/slogan.png" /></div>
    <div class="search-box">
        
        <div class="search-bar">
            <div class="category">
            </div>
            <ul class="tog">
                <li class="good">物品</li>
                <!--<li class="user">用户(暂不开放)</li>-->
            </ul>
            <input type="text" class="search-content" placeholder="输入你需要的物品" />
            <input class="search" type="button" value="搜  索" />
            <script>
                //根据上一个操作，判断是否需要将isAll置零，0登录加载，1搜索加载，2排序价格升序加载，3排序价格降序加载，4排序收藏升序加载，5排序收藏降序加载,6范围
                $("input.search").click(
                    function (e) {
                            isAll=false;
                            Icount=0;
                            _lastOp=1;
                        search_tag = $("input.search-content").val();
                        if (!tag)
                            return;
                        console.log("content内容");
                        console.log(content);
                        var Icount = 0;
                        $.ajax({
                            url: "{:url('index/goods/search')}",
                            data: { 'items': Icount, 'tag': search_tag },
                            success: function (data) {
                                if ('ok' != data.status) {
                                    return;
                                }
                                else {
                                    var ids = data.likes;
                                    var outer = document.getElementById("content");
                                    var goods, strall, str, div, img;
                                    console.log("#content整个元素");
                                    console.log($("#content"));
                                    $("#content").empty();
                                    isAll = data.isAll;
                                    goods = data.goods;
                                    Icount += data.count;
                                    console.log("返回信息");
                                    console.log(data);
                                    $(goods).each(function (index, item) {
                                        item = JSON.parse(item);
                                        if (ids.length) {
                                            if (-1 == ids.findIndex(function (ele) { return ele == item.id }))
                                                imgStr = "<img class='collection' style='background-color:white' src='__STATIC__/index/index/pic/collection.png'/>";
                                            else
                                                imgStr = "<img class='collection' style='background-color:yellow' src='__STATIC__/index/index/pic/collection.png'/>";
                                            strall = "<span class='content-span' style='text-overflow:ellipsis'>详情:" + item.description + "</span><p class='price'>价格: ￥" + item.price + "</p><p>收藏量:  " + item.likes + "</p>" + imgStr;
                                        }
                                        else {
                                            strall = "<span class='content-span' style='text-overflow:ellipsis'>详情:" + item.description + "</span><p class='price'>价格: ￥" + item.price + "</p><p>收藏量:  " + item.likes + "</p><img class='collection' src='__STATIC__/index/index/pic/collection.png'/>";
                                        }
                                        str = item.path.split(/\;|\；/);
                                        div = document.createElement("div");
                                        div.innerHTML = strall;
                                        img = document.createElement("img");
                                        img.setAttribute("src", str[1]);
                                        img.setAttribute("id", item.id);
                                        img.setAttribute("class", "content-img");
                                        div.setAttribute("class", "content-div");
                                        div.appendChild(img);
                                        outer = document.getElementById("content");
                                        outer.appendChild(div);
                                    }
                                    );
                                    replaceFooter();

                                }
                            }
                                  ,
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                alert(XMLHttpRequest.status);
                                alert(XMLHttpRequest.readyState);
                                alert(textStatus);
                            },
                        }
                        );
                    });
            </script>
        </div>
        <div class="ex-requires">
            <div class="collection-amount"><span>热度</span><img class="origin" src="__STATIC__/index/index/pic/direction.png" /></div>
            <div class="price"><div class="dec-price"><span>价格</span><img class="origin" src="__STATIC__/index/index/pic/direction.png" /></div><input type="number" placeholder="￥" class="price_min" min="0"/><span>—</span><input placeholder="￥" class="price_max" type="number" max="9999999999"/><input type="button" id="price_range" value="确定"/></div>
        </div>
    </div>
    <script>
        var collectionClass;
        $("#price_range").click(function () {
                isAll = false;
                Icount = 0;
                _lastOp = 6;
            var min=$("div.ex-requires div.price input.price_min").val();
            var max = $("div.ex-requires div.price input.price_max").val();
            console.log("加载的数量");
            console.log(Icount);
            $.ajax({
                url: "{:url('index/goods/range')}",
                data: {'items': Icount, 'min': min, 'max': max },
                type:"post",
                success: function (data) {
                    if ('ok' != data.status) {
                        return;
                    }
                    else {
                        var ids = data.likes;
                        var outer = document.getElementById("content");
                        var goods, strall, str, div, img;
                        console.log("整个content元素");
                        console.log($("#content"));
                        $("#content").empty();
                        isAll = data.isAll;
                        goods = data.goods;
                        Icount += data.count;
                        console.log("返回的信息");
                        console.log(data);
                        $(goods).each(function (index, item) {
                            item = JSON.parse(item);
                            if (ids.length) {
                                if (-1 == ids.findIndex(function (ele) { return ele == item.id }))
                                    imgStr = "<img class='collection' style='background-color:white' src='__STATIC__/index/index/pic/collection.png'/>";
                                else
                                    imgStr = "<img class='collection' style='background-color:yellow' src='__STATIC__/index/index/pic/collection.png'/>";
                                strall = "<span class='content-span' style='text-overflow:ellipsis'>详情:" + item.description + "</span><p class='price'>价格: ￥" + item.price + "</p><p>收藏量:  " + item.likes + "</p>" + imgStr;
                            }
                            else {
                                strall = "<span class='content-span' style='text-overflow:ellipsis'>详情:" + item.description + "</span><p class='price'>价格: ￥" + item.price + "</p><p>收藏量:  " + item.likes + "</p><img class='collection' src='__STATIC__/index/index/pic/collection.png'/>";
                            }
                            str = item.path.split(/\;|\；/);
                            div = document.createElement("div");
                            div.innerHTML = strall;
                            img = document.createElement("img");
                            img.setAttribute("src", str[1]);
                            img.setAttribute("id", item.id);
                            img.setAttribute("class", "content-img");
                            div.setAttribute("class", "content-div");
                            div.appendChild(img);
                            outer = document.getElementById("content");
                            outer.appendChild(div);
                        }
                        );
                        replaceFooter();

                    }
                }
                                  ,
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(XMLHttpRequest.status);
                    alert(XMLHttpRequest.readyState);
                    alert(textStatus);
                },
            }
                        );
        });
        $(".collection-amount").mouseenter(function () {

            $(".collection-amount img").removeClass("imgclick1").removeClass("imgclick2").removeClass("imgclick0");
            //console.log("进入时，保留的内容");
            //console.log(collectionClass);
            if (collection_state == 2)
                $(".collection-amount img").addClass("imgenter2").removeClass("origin");
            else if (collection_state == 1)
                $(".collection-amount img").addClass("imgenter1").removeClass("origin");
            else
                $(".collection-amount img").addClass("imgenter0").removeClass("origin");
        });
        $(".collection-amount").mouseleave(function () {
            var _isclicked;//判断是否已经被点击，如果已经被点击，则不增加 origin class

            //console.log("离开时，未处理保留的内容");
            //console.log(collectionClass);
            //$(".collection-amount img").attr("class", function (index, val) {
            //    $(this).attr("class", "");
            //    var classArr = val.split(' ');
            //    console.log(classArr);
            //    collectionClass = classArr.forEach(function (val, index) {
            //        val.replace(/^imgenter/, "");
            //    });
            //});
            //console.log("离开时，保留的内容");
            //console.log(collectionClass);
            //$(".collection-amount img").attr("class", collectionClass);
            $(".collection-amount img").attr("class", function (index, re) {
                var classArr = re.split(' ');
                //console.log("雷属性数组");
                //console.log(classArr);
                $.each(classArr, function (index, val) {
                    // console.log(val);
                    _isclicked = /^imgclick/.test(val);
                });
            });
            // console.log("是都已经点击");
            //console.log(_isclicked);
            var img = $(".collection-amount img");
            if (0 == collection_state)
                $(".collection-amount img").attr("class", "origin");
            else
                $(".collection-amount img").attr("class", collectionClass);
            //if (collection_state == 2){


            //        img.removeClass("imgenter2").removeClass("imgenter0").removeClass("imgenter1");
            //        if (!_isclicked)
            //            img.addClass("origin").removeClass("imgclick1").removeClass("imgclick2").removeClass("imgclick0");
            //        isclick = false;

            //}
            //else if (collection_state == 1)
            //{
            //        img.removeClass("imgenter2").removeClass("imgenter0").removeClass("imgenter1");
            //        if (!_isclicked)
            //            img.addClass("origin").removeClass("imgclick1").removeClass("imgclick2").removeClass("imgclick0");
            //        isclick = false;
            //    }
            //else{ 

            //    img.removeClass("imgenter2").removeClass("imgenter0").removeClass("imgenter1");
            //    if (!_isclicked)
            //        img.addClass("origin").removeClass("imgclick1").removeClass("imgclick2").removeClass("imgclick0");
            //    isclick = false;
            //    }


        });

        $(".collection-amount").click(function () {
            $(".collection-amount img").removeClass("imgenter0").removeClass("imgenter2").removeClass("imgenter1");
            if (1 == price_state || price_state == 2) {
                $(".dec-price img").removeClass("imgclick1").removeClass("imgclick2").addClass("origin");
                $(".dec-price").css({
                    "background-color": "white",
                    "color": "black"
                });
                price_state = 0;
            }
            if (collection_state == 0) {
                $(".collection-amount img").addClass("imgclick1").removeClass("origin");
                $(".collection-amount").css({
                    "background-color": "#e99009",
                    "color": "white",
                    "cursor": "pointer"
                });
                collection_state = 1;
            }
            else {
                $(".collection-amount img").removeClass("origin")
                if (collection_state == 1) {
                    $(".collection-amount img").removeClass("imgclick0").removeClass("imgclick1").addClass("imgclick2");
                    collection_state = 2;
                }
                else {
                    $(".collection-amount img").removeClass("imgclick0").removeClass("imgclick2").addClass("imgclick1");
                    collection_state = 1;
                }
            }
            //collectionClass=$(".collection-amount img").attr("class")
            isclick = true;
            collectionClass = $(".collection-amount img").attr("class");
            //console.log("点击后保留的内容");
            //console.log(collectionClass);
            //// console.log("点击后状态");
            // console.log(collection_state);
        });

        var priceClass;
        $(".dec-price").mouseenter(function () {

            $(".dec-price img").removeClass("imgclick1").removeClass("imgclick2").removeClass("imgclick0");
            //console.log("进入时，保留的内容");
            //console.log(collectionClass);
            if (price_state == 2)
                $(".dec-price img").addClass("imgenter2").removeClass("origin");
            else if (price_state == 1)
                $(".dec-price img").addClass("imgenter1").removeClass("origin");
            else
                $(".dec-price img").addClass("imgenter0").removeClass("origin");
        });
        $(".dec-price").mouseleave(function () {
            var _isclicked;//判断是否已经被点击，如果已经被点击，则不增加 origin class

            //console.log("离开时，未处理保留的内容");
            //console.log(collectionClass);
            //$(".collection-amount img").attr("class", function (index, val) {
            //    $(this).attr("class", "");
            //    var classArr = val.split(' ');
            //    console.log(classArr);
            //    collectionClass = classArr.forEach(function (val, index) {
            //        val.replace(/^imgenter/, "");
            //    });
            //});
            //console.log("离开时，保留的内容");
            //console.log(collectionClass);
            //$(".collection-amount img").attr("class", collectionClass);
            $(".dec-price img").attr("class", function (index, re) {
                var classArr = re.split(' ');
                //  console.log("雷属性数组");
                //  console.log(classArr);
                $.each(classArr, function (index, val) {
                    //      console.log(val);
                    _isclicked = /^imgclick/.test(val);
                });
            });
            //console.log("是都已经点击");
            // console.log(_isclicked);
            var img = $(".dec-price img");
            if (0 == price_state)
                $(".dec-price img").attr("class", "origin");
            else
                $(".dec-price img").attr("class", priceClass);
            //if (collection_state == 2){


            //        img.removeClass("imgenter2").removeClass("imgenter0").removeClass("imgenter1");
            //        if (!_isclicked)
            //            img.addClass("origin").removeClass("imgclick1").removeClass("imgclick2").removeClass("imgclick0");
            //        isclick = false;

            //}
            //else if (collection_state == 1)
            //{
            //        img.removeClass("imgenter2").removeClass("imgenter0").removeClass("imgenter1");
            //        if (!_isclicked)
            //            img.addClass("origin").removeClass("imgclick1").removeClass("imgclick2").removeClass("imgclick0");
            //        isclick = false;
            //    }
            //else{ 

            //    img.removeClass("imgenter2").removeClass("imgenter0").removeClass("imgenter1");
            //    if (!_isclicked)
            //        img.addClass("origin").removeClass("imgclick1").removeClass("imgclick2").removeClass("imgclick0");
            //    isclick = false;
            //    }


        });

        $(".dec-price").click(function () {
            $(".dec-price img").removeClass("imgenter0").removeClass("imgenter2").removeClass("imgclick0").removeClass("imgenter1");
            if (1 == collection_state || collection_state == 2) {
                $(".collection-amount img").removeClass("imgclick1").removeClass("imgclick2").removeClass("imgclick0").addClass("origin");
                $(".collection-amount").css({
                    "background-color": "white",
                    "color": "black"
                });
                collection_state = 0;
            }
            if (price_state == 0) {
                $(".dec-price img").addClass("imgclick1").removeClass("origin");
                $(".dec-price").css({
                    "background-color": "#e99009",
                    "color": "white",
                    "cursor": "pointer"
                });
                price_state = 1;
            }
            else {
                $(".dec-price img").removeClass("origin")
                if (price_state == 1) {
                    $(".dec-price img").removeClass("imgclick0").removeClass("imgclick1").addClass("imgclick2");
                    price_state = 2;
                }
                else {
                    $(".dec-price img").removeClass("imgclick0").removeClass("imgclick2").addClass("imgclick1");
                    price_state = 1;
                }
            }
            //priceClass=$(".dec-price img").attr("class")
            isclick = true;
            priceClass = $(".dec-price img").attr("class");
            //console.log("点击后保留的内容");
            //console.log(priceClass);
            // console.log("点击后状态");
            // console.log(price_state);

            //ajax
        });
        $("div.collection-amount,div.price div.dec-price").click(
                    function (e) {
                        $(this).ready(function () {
                            console.log("热度与价格状态");
                            console.log(collection_state);
                            console.log(price_state);
                        });
                        Icount = 0;
                        var tag;//0代表热度，1代表价格
                        if (e.currentTarget == $("div.collection-amount")[0])
                            tag = 0;
                        else if (e.currentTarget == $("div.price")[0])
                            tag = 1;
                        else return;
                        var status;//状态，ase还是des
                        //根据上一个操作，判断是否需要将isAll置零，0登录加载，1搜索加载，2排序价格升序加载，3排序价格降序加载，4排序收藏升序加载，5排序收藏降序加载
                        if (0 == tag)
                            status = collection_state;
                        else if (1 == tag)
                            status = price_state;
                        if (tag == 0 && status == 1) {
                                isAll = false;
                                _lastOp = 4;
                                Icount = 0;
                        }
                        else if (tag == 0 && status == 2) {
                                isAll = false;
                                _lastOp = 5;
                                Icount = 0;
                            
                        }
                        else if (tag == 1 && status == 1) {
                                isAll = false;
                                _lastOp = 2;
                                Icount = 0;
                        }
                        else if (tag == 1 && status == 2) {
                                isAll = false;
                                _lastOp = 3;
                                Icount = 0;
                        }
                        $.ajax({
                            url: "{:url('index/goods/sort')}",
                            data: { 'status': status, 'tag': tag ,"count":Icount,"search_tag":search_tag?search_tag:""},
                            success: function (data) {
                                if ('ok' != data.status) {
                                    return;
                                }
                                else {
                                    var outer = document.getElementById("content");
                                    var goods, strall, str, div, img;
                                    var ids = data.likes;
                                    console.log("#content元素");
                                    console.log($("#content"));
                                    $("#content").empty();
                                    isAll = data.isAll;
                                    goods = data.goods;
                                    Icount += data.count;
                                    console.log("返回的信息");
                                    console.log(data);
                                    $(goods).each(function (index, item) {
                                        item = JSON.parse(item);
                                        if (ids.length) {
                                            if (-1 == ids.findIndex(function (ele) { return ele == item.id }))
                                                imgStr = "<img class='collection' style='background-color:white' src='__STATIC__/index/index/pic/collection.png'/>";
                                            else
                                                imgStr = "<img class='collection' style='background-color:yellow' src='__STATIC__/index/index/pic/collection.png'/>";
                                            strall = "<span class='content-span' style='text-overflow:ellipsis'>详情:" + item.description + "</span><p class='price'>价格: ￥" + item.price + "</p><p>收藏量:  " + item.likes + "</p>" + imgStr;
                                        }
                                        else {
                                            strall = "<span class='content-span' style='text-overflow:ellipsis'>详情:" + item.description + "</span><p class='price'>价格: ￥" + item.price + "</p><p>收藏量:  " + item.likes + "</p><img class='collection' src='__STATIC__/index/index/pic/collection.png'/>";
                                        }
                                        str = item.path.split(/\;|\；/);
                                        div = document.createElement("div");
                                        div.innerHTML = strall;
                                        img = document.createElement("img");
                                        img.setAttribute("src", str[1]);
                                        img.setAttribute("id", item.id);
                                        img.setAttribute("class", "content-img");
                                        div.setAttribute("class", "content-div");
                                        div.appendChild(img);
                                        outer = document.getElementById("content");
                                        outer.appendChild(div);
                                    }
                                    );
                                    replaceFooter();

                                }
                            }
                                  ,
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                alert(XMLHttpRequest.status);
                                alert(XMLHttpRequest.readyState);
                                alert(textStatus);
                            },
                        }
                        );
                    });
    </script>
    <div class="blank_"></div>


    <!--商品详情页-->
    <div class="content" id="content"></div>
    <script>
        $(document).on("click", "img.collection", function () {
            var self = $(this);
            var color = RGBtoHEX($(this).css("background-color"));
            console.log("颜色是" + color);
            if ("#FFFFFF" == color) {
                var good_id=$(this).next().attr("good_id");
                $.ajax({
                    url: "{:url('index/goods/like')}",
                    data: { 'id':good_id,"select":0 },//0添加，1删除
                    success: function (data) {
                        if ('ok' == data.status) {
                            //console.log(this);
                            self.css("background-color", "yellow");
                            return;
                        }
                        else {
                            //console.log(data.messege);
                            alert(data.messege);
                            return;
                        }
                    }
                 ,
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(XMLHttpRequest.status);
                        alert(XMLHttpRequest.readyState);
                        alert(textStatus);
                    },
                });

            }
            else
            {
                var good_id = $(this).next().attr("good_id");
                $.ajax({
                    url: "{:url('index/goods/like')}",
                    data: { 'id': good_id, "select": 1 },
                    success: function (data) {
                        if ('ok' == data.status) {
                            self.css("background-color", "white");
                            return;
                        }
                        else {
                            alert(data.messege);
                            return;
                        }
                    }
                 ,
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(XMLHttpRequest.status);
                        alert(XMLHttpRequest.readyState);
                        alert(textStatus);
                    },
                });

            }

        });
    </script>
    <div class="commodity-detail">
        <div class="commodity">
            <h1 class="title"></h1>
            <p class="name"></p>
            <div class='before'><p><</p></div>
            <div class='after'><p>></p></div>
            <div class="pictures">
                <div class="picture-container">
                </div>
                <div class="thumbnail"></div>
            </div>
            <div class="good_info">
                <p class="likes"><span>收藏量:</span><span class="amount"></span></p>
                <p class="info_price"><span>价格:</span><span class="info_price"></span></p>
                <p class="saller"><span>卖家:</span><span class="saller"></span></p>
                <p class="expire"><span>过期时间:</span><span class="expire-time"></span></p>
                <p class="desc" style="display:block"><span>商品描述:</span><span style="display:block;text-indent:2em" class="desc"></span></p>
            </div>
            <input type="button" class="buy" value="买" />
        </div>
        <div class="close-table"><p>×</p></div>
    </div>

    <script>

        $(".commodity-detail .commodity input[type='button']").on('click', function () {
            if (confirm("是否确认发送购买意愿（以及您的联系方式）至对方邮箱，同时您也将获取对方联系方式？"))
            {
                $.ajax({
                    url: "{:url('index/goods/buy')}",
                    data: { 'id': $(".commodity-detail").attr("good_id") },
                    success: function (data) {
                        if ('ok' == data.status) {
                            alert("双方的信息已发送至对方邮箱！\n之后你们可以通过联系确认交易地址，如对该订单存在疑惑请即使客服！");
                            return;
                        }
                        else {
                            alert(data.messege);
                            return;
                        }
                    }
                  ,
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(XMLHttpRequest.status);
                        alert(XMLHttpRequest.readyState);
                        alert(textStatus);
                    },
                });
            }
        })
    </script>

    <script type="text/javascript">
        var detailUrl = "{:url('index/goods/detail')}";
        var Icount = 0;
        var isAll = false;

        $.ajax({
            url: "{:url('index/goods/index')}",
            data: { 'items': Icount },
            success: function (data) {
                if ('ok' != data.status) {
                    return;
                }
                else {
                    _lastOp = 0;
                    isAll = false;
                    Icount = 0;
                    var ids = data.likes;
                    console.log("返回的信息");
                    console.log(data);
                    isAll = data.isAll;
                    goods = data.goods;
                    Icount += data.count;
                    var goods,strall,str,div,img,imgStr;
                    var outer = document.getElementById("content");
                    $(goods).each(function (index, item) {
                        item = JSON.parse(item);
                        if (ids.length) {
                            if (-1 == ids.findIndex(function (ele) { return ele == item.id }))
                                imgStr = "<img class='collection' style='background-color:white' src='__STATIC__/index/index/pic/collection.png'/>";
                            else
                                imgStr = "<img class='collection' style='background-color:yellow' src='__STATIC__/index/index/pic/collection.png'/>";
                            strall = "<span class='content-span' style='text-overflow:ellipsis'>详情:" + item.description + "</span><p class='price'>价格: ￥" + item.price + "</p><p>收藏量:  " + item.likes + "</p>" + imgStr;
                        }
                        else {
                            strall = "<span class='content-span' style='text-overflow:ellipsis'>详情:" + item.description + "</span><p class='price'>价格: ￥" + item.price + "</p><p>收藏量:  " + item.likes + "</p><img class='collection' src='__STATIC__/index/index/pic/collection.png'/>";
                        }
                        str = item.path.split(/\;/);
                        div = document.createElement("div");
                        div.innerHTML = strall;
                        img = document.createElement("img");
                        img.setAttribute("src", str[1]);
                        img.setAttribute("good_id", item.id);
                        img.setAttribute("class", "content-img"); 
                        div.setAttribute("class", "content-div");
                        div.appendChild(img);
                        
                        outer.appendChild(div);
                    }
                    );
                    replaceFooter();
                    console.log("是否全部加载完毕");
                    console.log(isAll); 
                }
            }
                  ,
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest.status);
                alert(XMLHttpRequest.readyState);
                alert(textStatus);
            },
        });
    </script>
    <script type="text/javascript">
        $(window).scroll(loading);
        function loading() {
            var WinHeight = document.documentElement.clientHeight;
            var DocHeight = document.documentElement.scrollHeight;
            var OffSet = document.documentElement.scrollTop;
            if (Math.abs(DocHeight - (OffSet + WinHeight)) < 1) {
                console.log("是否全部加载完毕");
                console.log(isAll);
                _isLoading = true;
                $(window).unbind("scroll", loading);
                var outer = $("#content");
                $("<img src='Pic/loading.gif' class='loading' />").css({
                    'border-radius': '50%',
                    'height': '38px',
                    'width': '38px',
                    'position': 'absolute',
                    'bottom': '-27px',
                    'left': "497px"
                }).appendTo(outer);
                // $("div.foot").css("top", "32px");
                $("div.foot").offset({ top: $("div.content").height() + $("div.content").offset().top + 32, left: $("div.foot").offset().left });
                if (!isAll) {
                    if (_lastOp == 0) {
                        $.ajax({
                            url: "{:url('index/goods/index')}",
                            data: { 'items': Icount },
                            success: function (data) {
                                if ('ok' != data.status) {
                                    return;
                                }
                                else {
                                    if (_lastOp != 0) {
                                        _lastOp = 0;
                                        isAll = false;
                                        Icount = 0;
                                    }
                                    var ids = data.likes;
                                    console.log("返回的信息");
                                    console.log(data);
                                    isAll = data.isAll;
                                    goods = data.goods;
                                    Icount += data.count;
                                    var goods, strall, str, div, img, imgStr;
                                    var outer = document.getElementById("content");
                                    $(goods).each(function (index, item) {
                                        item = JSON.parse(item);
                                        if (ids.length) {
                                            if (-1 == ids.findIndex(function (ele) { return ele == item.id }))
                                                imgStr = "<img class='collection' style='background-color:white' src='__STATIC__/index/index/pic/collection.png'/>";
                                            else
                                                imgStr = "<img class='collection' style='background-color:yellow' src='__STATIC__/index/index/pic/collection.png'/>";
                                            strall = "<span class='content-span' style='text-overflow:ellipsis'>详情:" + item.description + "</span><p class='price'>价格: ￥" + item.price + "</p><p>收藏量:  " + item.likes + "</p>" + imgStr;
                                        }
                                        else {
                                            strall = "<span class='content-span' style='text-overflow:ellipsis'>详情:" + item.description + "</span><p class='price'>价格: ￥" + item.price + "</p><p>收藏量:  " + item.likes + "</p><img class='collection' src='__STATIC__/index/index/pic/collection.png'/>";
                                        }
                                        str = item.path.split(/\;/);
                                        div = document.createElement("div");
                                        div.innerHTML = strall;
                                        img = document.createElement("img");
                                        img.setAttribute("src", str[1]);
                                        img.setAttribute("good_id", item.id);
                                        img.setAttribute("class", "content-img");
                                        div.setAttribute("class", "content-div");
                                        div.appendChild(img);

                                        outer.appendChild(div);
                                    }
                                    );
                                    replaceFooter();
                                    _isLoading = false;
                                    $("div.foot").css("top", "0px");
                                    $("#content img.loading").remove();
                                    $(window).bind("scroll", loading);
                                }
                            }
                      ,
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                alert(XMLHttpRequest.status);
                                alert(XMLHttpRequest.readyState);
                                alert(textStatus);
                            },
                        });
                    }
                    else if (1 == _lastOp) {
                        if (_lastOp != 1) {
                            isAll = false;
                            Icount = 0;
                            _lastOp = 1;
                        }
                        search_tag = $("input.search-content").val();
                        if (!tag)
                            return;
                        console.log("content内容，不知道是什么内容，应该在别的文件注释了");
                        console.log(content);
                        var Icount = 0;
                        $.ajax({
                            url: "{:url('index/goods/search')}",
                            data: { 'items': Icount, 'tag': search_tag },
                            success: function (data) {
                                if ('ok' != data.status) {
                                    return;
                                }
                                else {
                                    var ids = data.likes;
                                    var outer = document.getElementById("content");
                                    var goods, strall, str, div, img;
                                    console.log("#content元素");
                                    console.log($("#content"));
                                    $("#content").empty();
                                    isAll = data.isAll;
                                    goods = data.goods;
                                    Icount += data.count;
                                    console.log("返回的信息");
                                    console.log(data);
                                    $(goods).each(function (index, item) {
                                        item = JSON.parse(item);
                                        if (ids.length) {
                                            if (-1 == ids.findIndex(function (ele) { return ele == item.id }))
                                                imgStr = "<img class='collection' style='background-color:white' src='__STATIC__/index/index/pic/collection.png'/>";
                                            else
                                                imgStr = "<img class='collection' style='background-color:yellow' src='__STATIC__/index/index/pic/collection.png'/>";
                                            strall = "<span class='content-span' style='text-overflow:ellipsis'>详情:" + item.description + "</span><p class='price'>价格: ￥" + item.price + "</p><p>收藏量:  " + item.likes + "</p>" + imgStr;
                                        }
                                        else {
                                            strall = "<span class='content-span' style='text-overflow:ellipsis'>详情:" + item.description + "</span><p class='price'>价格: ￥" + item.price + "</p><p>收藏量:  " + item.likes + "</p><img class='collection' src='__STATIC__/index/index/pic/collection.png'/>";
                                        }
                                        str = item.path.split(/\;|\；/);
                                        div = document.createElement("div");
                                        div.innerHTML = strall;
                                        img = document.createElement("img");
                                        img.setAttribute("src", str[1]);
                                        img.setAttribute("id", item.id);
                                        img.setAttribute("class", "content-img");
                                        div.setAttribute("class", "content-div");
                                        div.appendChild(img);
                                        outer = document.getElementById("content");
                                        outer.appendChild(div);
                                    }
                                    );
                                    replaceFooter();
                                    _isLoading = false;
                                    $("div.foot").css("top", "0px");
                                    $("#content img.loading").remove();
                                    $(window).bind("scroll", loading);
                                }
                            }
                                  ,
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                alert(XMLHttpRequest.status);
                                alert(XMLHttpRequest.readyState);
                                alert(textStatus);
                            },
                        }
                        );
                    }
                    else if (6 == _lastOp)
                    {
                        if (_lastOp != 6) {
                            isAll = false;
                            Icount = 0;
                            _lastOp = 6;
                        }
                        var min = $("div.ex-requires div.price input.price_min").val();
                        var max = $("div.ex-requires div.price input.price_max").val();
                        $.ajax({
                            url: "{:url('index/goods/range')}",
                            data: { 'items': Icount, 'min': min, 'max': max },
                            type: "post",
                            success: function (data) {
                                if ('ok' != data.status) {
                                    return;
                                }
                                else {
                                    var ids = data.likes;
                                    var outer = document.getElementById("content");
                                    var goods, strall, str, div, img;
                                    console.log("#content元素");
                                    console.log($("#content"));
                                    $("#content").empty();
                                    isAll = data.isAll;
                                    goods = data.goods;
                                    Icount += data.count;
                                    console.log("返回的信息");
                                    console.log(data);
                                    $(goods).each(function (index, item) {
                                        item = JSON.parse(item);
                                        if (ids.length) {
                                            if (-1 == ids.findIndex(function (ele) { return ele == item.id }))
                                                imgStr = "<img class='collection' style='background-color:white' src='__STATIC__/index/index/pic/collection.png'/>";
                                            else
                                                imgStr = "<img class='collection' style='background-color:yellow' src='__STATIC__/index/index/pic/collection.png'/>";
                                            strall = "<span class='content-span' style='text-overflow:ellipsis'>详情:" + item.description + "</span><p class='price'>价格: ￥" + item.price + "</p><p>收藏量:  " + item.likes + "</p>" + imgStr;
                                        }
                                        else {
                                            strall = "<span class='content-span' style='text-overflow:ellipsis'>详情:" + item.description + "</span><p class='price'>价格: ￥" + item.price + "</p><p>收藏量:  " + item.likes + "</p><img class='collection' src='__STATIC__/index/index/pic/collection.png'/>";
                                        }
                                        str = item.path.split(/\;|\；/);
                                        div = document.createElement("div");
                                        div.innerHTML = strall;
                                        img = document.createElement("img");
                                        img.setAttribute("src", str[1]);
                                        img.setAttribute("id", item.id);
                                        img.setAttribute("class", "content-img");
                                        div.setAttribute("class", "content-div");
                                        div.appendChild(img);
                                        outer = document.getElementById("content");
                                        outer.appendChild(div);
                                    }
                                    );
                                    replaceFooter();

                                }
                            }
                                              ,
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                alert(XMLHttpRequest.status);
                                alert(XMLHttpRequest.readyState);
                                alert(textStatus);
                            },
                        }
                                    );
                    }
                    else {
                        $(this).ready(function () {
                            console.log("热度与价格状态");
                            console.log(collection_state);
                            console.log(price_state);
                        });
                        Icount = 0;
                        var tag;//0代表热度，1代表价格
                        if (e.currentTarget == $("div.collection-amount")[0])
                            tag = 0;
                        else if (e.currentTarget == $("div.price")[0])
                            tag = 1;
                        else return;
                        var status;//状态，ase还是des
                        //根据上一个操作，判断是否需要将isAll置零，0登录加载，1搜索加载，2排序价格升序加载，3排序价格降序加载，4排序收藏升序加载，5排序收藏降序加载
                        if (0 == tag)
                            status = collection_state;
                        else if (1 == tag)
                            status = price_state;
                        if (tag == 0 && status == 1) {
                            if (4 != _lastOp) {
                                isAll = false;
                                _lastOp = 4;
                                Icount = 0;
                            }
                        }
                        else if (tag == 0 && status == 2) {
                            if (5 != _lastOp) {
                                isAll = false;
                                _lastOp = 5;
                                Icount = 0;
                            }
                        }
                        else if (tag == 1 && status == 1) {
                            if (2 != _lastOp) {
                                isAll = false;
                                _lastOp = 2;
                                Icount = 0;
                            }
                        }
                        else if (tag == 1 && status == 2) {
                            if (3 != _lastOp) {
                                isAll = false;
                                _lastOp = 3;
                                Icount = 0;
                            }
                        }
                        $.ajax({
                            url: "{:url('index/goods/sort')}",
                            data: { 'status': status, 'tag': tag, "count": Icount, "search_tag": search_tag ? search_tag : "" },
                            success: function (data) {
                                if ('ok' != data.status) {
                                    return;
                                }
                                else {
                                    var outer = document.getElementById("content");
                                    var goods, strall, str, div, img;
                                    var ids = data.likes;
                                    console.log("#content元素");
                                    console.log($("#content"));
                                    $("#content").empty();
                                    isAll = data.isAll;
                                    goods = data.goods;
                                    Icount += data.count;
                                    console.log("返回的信息");
                                    console.log(data);
                                    $(goods).each(function (index, item) {
                                        item = JSON.parse(item);
                                        if (ids.length) {
                                            if (-1 == ids.findIndex(function (ele) { return ele == item.id }))
                                                imgStr = "<img class='collection' style='background-color:white' src='__STATIC__/index/index/pic/collection.png'/>";
                                            else
                                                imgStr = "<img class='collection' style='background-color:yellow' src='__STATIC__/index/index/pic/collection.png'/>";
                                            strall = "<span class='content-span' style='text-overflow:ellipsis'>详情:" + item.description + "</span><p class='price'>价格: ￥" + item.price + "</p><p>收藏量:  " + item.likes + "</p>" + imgStr;
                                        }
                                        else {
                                            strall = "<span class='content-span' style='text-overflow:ellipsis'>详情:" + item.description + "</span><p class='price'>价格: ￥" + item.price + "</p><p>收藏量:  " + item.likes + "</p><img class='collection' src='__STATIC__/index/index/pic/collection.png'/>";
                                        }
                                        str = item.path.split(/\;|\；/);
                                        div = document.createElement("div");
                                        div.innerHTML = strall;
                                        img = document.createElement("img");
                                        img.setAttribute("src", str[1]);
                                        img.setAttribute("id", item.id);
                                        img.setAttribute("class", "content-img");
                                        div.setAttribute("class", "content-div");
                                        div.appendChild(img);
                                        outer = document.getElementById("content");
                                        outer.appendChild(div);
                                    }
                                    );
                                    replaceFooter();
                                    _isLoading = false;
                                    $("div.foot").css("top", "0px");
                                    $("#content img.loading").remove();
                                    $(window).bind("scroll", loading);
                                }
                            }
                                  ,
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                alert(XMLHttpRequest.status);
                                alert(XMLHttpRequest.readyState);
                                alert(textStatus);
                            },
                        }
                        );
                    }
                }
               
            }
        }
    </script>
    {include file="common/foot" /}
</body>
</html>
