<div class="nav-main">
    <div class="nav-box">
        <div class="nav">
            <ul class="nav-ul">
                <li><a href="../MainPage/MainPage.html" class="home"><div class="logo"><img src="__STATIC__/index/index/pic/logo.png" /></div><span>首页</span></a></li>
                <li><a href="javascript:void(0)<!--../myinfo/PersonalInfo.html-->" class="myinfo"><div class="headshot"><img src="__STATIC__/index/index/pic/1.jpg" /></div><span class="person-info">未登录</span></a></li>
                <li><a href="../commodity-publish/uploadCommodity.html" class="commodity"><div class="goods"><img src="__STATIC__/index/index/pic/goods.jpg" /></div><span class="publish-com">发布商品</span></a></li>
                <li><a href="javascript:void(0)" class="aboutus" onclick="us_click()"><div class="aboutus"><img src="__STATIC__/index/index/pic/b17eca8065380cd7e93f70cfab44ad34598281eb.jpg" /></div><span>关于我们</span></a></li>
                <li><a href="javascript:void(0)" class="lab" onclick="lab_click()"><div class="lab"><img src="__STATIC__/index/index/pic/87Y58PICJFQ.jpg" /></div><span>实验室</span></a></li>
            </ul>
        </div>
        <div>
            <div class="slidetoggle"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
        //$("body").animate({ scrolltop: 1000 }, 1000)
    $(".nav-main .slidetoggle").css(
   {
       "top": String(window.innerHeight / 2 - 50) + "px",
   });
</script>